.profile-container {
   
    margin-top: 12vh;
    margin-left: 25%;
    border-bottom:1px solid red ;
    height: 20vh;
    width: 50%;
    color: white;
    border-radius: 16px;
}
.profile{
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
.Avatar {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
    object-fit: cover;
    
  }
  .profile-content {
      display: flex;
   
    object-fit: cover;
    align-items: center;
    
    justify-self: flex-start;
  }
.username {
    margin-left: 1vw;
    font-weight: bold;
    font-size: 25px;

}
.edit-profile {
    display: flex;
    align-items: center;
    width: 7vw;
    height: 4vh;
}
.edit-profile button{
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    color: white;
    opacity: 0.8;
    border: none;
    background: linear-gradient(135deg,rgb(180,0,0),rgb(120,0,0));
}
.edit-profile button:hover{
    opacity: 1;
transition: 0.5s;
}
.edit-profile button:focus{
    transform: translateY(1.5px);
    transition: 0.1s;
}

.new-section{
    color: white;
    text-align: left;
    width: 50%;
    margin-top: 2vh;
    margin-left: 25%;
    border: 1px red solid;
    border-radius: 16px;
}
.section-info {
    margin: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-title{
    font-weight: bold;
    font-size: 22px;
    margin-left: 1vw;
    text-shadow: -1px 1px 4px rgba(255, 255, 255, 0.8);
    letter-spacing: 1px;
}
.filter{
    height: 2.5vh;
    width: 2.5vw;
    margin-right: 1vw;
}
.filter-icon{
    margin-left: 1vw;
    cursor: pointer;
    width: 100%;
    height: 100%;
    color: darkred;
}
.filter-icon button{
    width: 100%;
    height: 100%;
    opacity: 0.75;
}
.filter-icon button:hover{
    opacity: 1;
}
.filters-menu-container::after{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 30vh;
}
.filters-menu-container::before{
    width: 0;
    height: 0;
  
}
.filters-menu{
    height: 30vh;
 width: 100%;
 position: relative;
 display: flex;
 justify-content: space-evenly;
 align-content: center;

 background: linear-gradient(360deg,#400000,#600000,#800000,rgb(120,0,0));
 
}

.filters-menu ul{
    list-style-type: none;
    gap: 1rem;
    margin-top: 4vh;
    padding-left: 0;
    font-weight: bolder;
}
.filters-menu  li{
    margin-top: 9%;
    margin-left:2.4% ;
    cursor: pointer;
    font-weight: 300;
}
