.Reset-form-container {
    display: flex;
    justify-content: center;
    min-width: 100%;
    min-height: 100%;
    align-items: center;
     
 }
 .Reset-form{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     min-width: 34vw;
     max-width: 36vw;
     min-height: 40vh;
     margin-top:15vh;
     border-radius: 16px;
     opacity: 1;
     background: linear-gradient(135deg,rgb(180,0,0),rgb(120,0,0),rgb(60,0,0),rgb(20,0,0));
     color: white;
 }
 .form-title {
     margin:8px;
     font-size: 22px;
     font-weight: bold;
     width: 100%;
     align-self: center;
 }
 .Reset-input {
     margin: 3%;
     display: flex;
     flex-wrap: wrap;
     
     justify-content: center;
 
 }
 .Reset-input hr {
     flex-basis: 100%; 
     height: 0;
      margin: 0;
       border: 0;
 }
 .reset-email-input {
     
     margin-bottom: 1.5vh;
     width: 66%;
     height: 4vh;
     border-radius: 10px;
     padding: 8px;
     font-size: 18px;
 }
 .email-input:focus{
     border: 1px solid black;
 }
 .Reset-btn {
    cursor: pointer;
    font-size: 18px;
    width: 5.5vw;
    height: 4.5vh;
    border: none;
    border-radius: 14px;
    color: white;
    background: linear-gradient(135deg,rgb(180,0,0),rgb(120,0,0),rgb(60,0,0),rgb(20,0,0));
    opacity: 0.9;
}
.Reset-btn:hover{
    opacity: 1;
}